@import "../../main";

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  background-color: #000834;
  position: relative;

  .cover-conainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    @media screen and (max-width: 760px) {
      width: 90%;
    }
    .h1-cover {
      font-size: $font-size-xxlarge;
      color: #fb5b8d;
      margin-bottom: 30px;
      font-weight: $light;
      font-family: "Dancing Script", cursive;
      @media screen and (max-width: 760px) {
        font-size: $font-size-xlarge;
      }
    }
    .h2-cover {
      text-align: center;
      color: white;
      font-weight: $light;
      font-size: $font-size-sslarge;
      letter-spacing: 1px;
      line-height: 1.5;

      @media screen and (max-width: 760px) {
        line-height: 1.3;
        font-size: $font-size-regular;
      }
    }

    .text-cover {
      display: inline;
      font-weight: $bold;
      font-size: $font-size-sslarge;
      letter-spacing: 1px;

      @media screen and (max-width: 760px) {
        font-size: $font-size-regular;
      }
    }
    .arrow {
      position: absolute;
      bottom: 20px;
      height: 25px;
      animation: arrow 1.3s infinite;
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-10px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
