@import "../../main";

.footer {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  .a-footer {
    margin: 80px 60px;
    @media screen and (max-width: 756px) {
      margin: 60px 30px;
    }
  }
  @media screen and (max-width: 756px) {
    justify-content: center;
  }
}
